name: Update release status
on: workflow_dispatch

jobs:
  update_status:
    name: Update status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          "${GITHUB_WORKSPACE}/scripts/update.sh"
      - uses: actions/upload-artifact@v2
        with:
          name: gh-pages
          path: docs/
          retention-days: 1

  publish_site:
    name: Update status
    needs: update_status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: gh-pages
      - run: |
          ls "${GITHUB_WORKSPACE}"
          